$background-1: #293132
$background-2: #fbfffe
$text-1: #6b0504

body
  background-color: $background-1
  background: url('../images/background.jpg') no-repeat
  background-size: cover
  display: flex
  justify-content: center
  align-items: center
  padding: 2%

  .root
    max-width: 800px
    width: 50%
    display: flex
    justify-content: center
    flex-flow: row wrap
    padding: 20px
    background-color: rgba($background-2, 0.95)
    border-radius: 10px


    h1, div
      font-family: 'Lato', sans-serif
      width: 100%
    h1
      text-align: center
      color: $text-1

    #react-app
      div
        form
          display: flex
          flex-flow: row nowrap
          justify-content: space-between

          input[type="text"]
            width: 40%

        table
          margin-top: 20px
          width: 100%
          border-collapse: collapse

          thead
            tr
              color: $text-1
              border-bottom: 2px solid $background-1

              th
                padding: 5px
                width: 33%

          tbody
            tr
              td
                text-align: center
                padding: 5px
                width: 33%